body
{
	background-color:#00FFFF;
}
#d1
{
	position:absolute;
	margin-left:20%;
	height:150px;
	width:250px;
	background-color:#D2B4DE;
	border:2px solid red;
	padding:10px;
}
#d2
{
	margin-top:150px;
	margin-left:60%;
	height:150px;
	width:250px;
	background-color:#D2B4DE;
	border:2px solid blue;
	padding:10px;
}
